.containerimageTeam{
  display: flex;
  width: 100vw;
  height: 30vh;
  transition: 0.5s;
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
  position: relative;
}

.divImageTeam{
  background: rgb(21,39,153);
  background: linear-gradient(180deg, rgba(21,39,153,1) 0%, rgba(39,146,215,1) 26%, rgba(44,237,235,1) 60%, rgba(255,255,255,1) 91%);
  width: 100vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0%;
  background-position-y: 80%;
  background-size:cover;
  background-position:top;
  display: flex;
  transition: 0.5s;
  justify-content: center;
}