.containerimageTeam{
  display: flex;
  width: 100vw;
  height: 30vh;
  transition: 0.5s;
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
  position: relative;
}

.divImageTeam{
  background: rgb(21,39,153);
  
  background: rgb(78,193,238);
background: linear-gradient(180deg, rgba(78,193,238,1) 0%, rgba(78,238,233,1) 17%, rgba(249,244,193,0.9066220238095238) 46%, rgba(255,255,255,1) 95%);

  width: 100vw;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 0%;
  background-position-y: 80%;
  background-size:cover;
  background-position:top;
  display: flex;
  transition: 0.5s;
  justify-content: center;
}