.S1BackGround{
    background-color: rgb(232, 229, 226);
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

background-color: rgb(232, 229, 226);


.divContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    //align-items: center;
    //text-align: center;
    width: 50vw;
}

.divHeadH3{
    display: flex;
    height: 23vh;
}

.divHeadSecondH3{
    display: flex;
    height: 20vh;
}

.divHeadSecondH3 h3{
    display: flex;
    align-items: center;
}

.spacerDivision{
    display: flex;
    border: 1px solid rgba(110, 110, 110, 0.697);
    width: 50vw;
}

.divTextFlow2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divMarquee{
    display: flex;
    height: 20vh;
}

.divMarqueeH3{
    display: flex;
    align-items: center;
    width: 18vw;
}

.S1Marquee{
    display: flex;
    height: 8vh;
    width: 20vw;
}

.divMarqueeMini{
    display: flex;
    font-size: 20px;
    align-items: center;
    align-content: center;
}

