.S7DivTitle{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 35vh;
    justify-content: center;
  }

  .S7DivStructure{
    display: flex;
    width: 65vw;
    align-items: flex-start;
}

.S7DivStructure h4{
    font-size: 45px;
}

.S7DivStructure h5{
    font-size: 25px;
}

.S7ContainerStructure{
    display: flex;
    background-color: rgb(232, 229, 226);
    height: 80vh;
    justify-content: center;
  }
.divS7SousStructure{
  display: flex;
  flex-direction: column;
}

.divHoverCountdown{
  display: flex;
  height: 15vh;
  align-items: flex-end;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }
  
  .divS7 {
    transition: --num 5s;
    counter-set: num var(--num);
    font-size: 40px;
    // font: 800 40px system-ui;
  }

  .divS7::after {
    content: counter(num);
    padding: 50px 50px;
  }

  .divS7:hover {
    --num: 109;
  }

.myDivDiscover{
  display: flex;
  justify-content: center;
}

.divS7spacing{
  width: 40vw;
  height: 5vh;
}




// #hideMe:hover{
//     -moz-animation: cssAnimation 0s ease-in 2s forwards;
//     /* Firefox */
//     -webkit-animation: cssAnimation 0s ease-in 2s forwards;
//     /* Safari and Chrome */
//     -o-animation: cssAnimation 0s ease-in 2s forwards;
//     /* Opera */
//     animation: cssAnimation 0s ease-in 2s forwards;
//     -webkit-animation-fill-mode: forwards;
//     animation-fill-mode: forwards;
// }
// @keyframes cssAnimation {
//     to {
//         width:0;
//         height:0;
//         overflow:hidden;
//     }
// }
// @-webkit-keyframes cssAnimation {
//     to {
//         width:0;
//         height:0;
//         visibility:hidden;
//     }
// }
