.S6DivStructure{
    display: flex;
    width: 70vw;
    // height: 20vh;
    padding-right: 10vw;
    flex-direction: column;
    align-items: flex-start;
}

.S6DivTitle{
  background-color: #e8e5e2;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 35vh;

  justify-content: center;
}

.S6DivStructure h4{
    font-size: 45px;
}

.S6DivStructure h5{
    font-size: 25px;
}

.containerS6header{
  display: flex;
  background-color: rgb(232, 229, 226);
  justify-content: center;
  width: 100vw;
}

.div4headerS6{
  display: flex;
  height: 13vh;
  width: 22vw;
  margin-top: 3vh;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
}

.S6ContainerStructure{
  display: flex;
  background-color: rgb(232, 229, 226);
  justify-content: center;
  width: 100vw;
  height: 60vh;
}

.containerS6-1 {
  width: 17.9rem;
  height: 23.6rem;
  font-size: 50px;
  // position: absolute;
  top:0; right: 0; left: 0; bottom: 0;
  margin: 1vw;
  background: url("../../public/img/istockphoto-1001112154-612x612.jpeg");
  background-color: black;
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  filter: contrast(120%);
  }

.containerS6-2 {
  width: 17.9rem;
  height: 23.6rem;
  font-size: 50px;
  // position: absolute;
  top:0; right: 0; left: 0; bottom: 0;
  margin: 1vw;
  background: url("../../public/img/istockphoto-1131960338-612x612.jpeg");
  background-color: black;
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  filter: contrast(120%);
  }


.containerS6-3 {
  width: 17.9rem;
  height: 23.6rem;
  font-size: 50px;
  // position: absolute;
  top:0; right: 0; left: 0; bottom: 0;
  margin: 1vw;
  background: url("../../public/img/istockphoto-1368449529-612x612.jpeg");
  background-color: black;
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  filter: contrast(120%);
  }

.containerS6-4 {
  width: 17.9rem;
  height: 23.6rem;
  font-size: 50px;
  // position: absolute;
  top:0; right: 0; left: 0; bottom: 0;
  margin: 1vw;
  background: url("../../public/img/istockphoto-187041226-612x612.jpeg");
  background-color: black;
  background-size: cover;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
  filter: contrast(120%);
  }

.overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  // grid-template-rows: 1fr 2fr 2fr;
  background: rgba(124, 200, 251, 0.785);
  // color: $bg;
  opacity: 0;
  transition: all 0.5s;
}

.items {
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 3px;
  transition: all 0.7s;
}

.head {
  font-size: 30px;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
  hr {
    display: block;
    width: 0;
    border: none;
    border-bottom: solid 2px;
    position: absolute;
    bottom: 0; left:20px;
    transition: all .5s;
  }
}

.price {
  font-size: 20px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
  i {
    font-size: 16px;
  }
  span {
    margin-left: 10px;
  }
}

.containerS6-1:hover .overlay {
  opacity: 1;

  & .items{
    transform: translateY(0px);

  }

  & .head {
    transform: translateY(0px);
  }
  
  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  
  & .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }
  
  & .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}


.containerS6-2:hover .overlay {
  opacity: 1;

  & .items{
    transform: translateY(0px);

  }

  & .head {
    transform: translateY(0px);
  }
  
  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  
  & .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }
  
  & .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}

.containerS6-3:hover .overlay {
  opacity: 1;

  & .items{
    transform: translateY(0px);

  }

  & .head {
    transform: translateY(0px);
  }
  
  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  
  & .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }
  
  & .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}


.containerS6-4:hover .overlay {
  opacity: 1;

  & .items{
    transform: translateY(0px);

  }

  & .head {
    transform: translateY(0px);
  }
  
  & hr {
    width: 75px;
    transition-delay: 0.4s;
  }
  
  & .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
  }
  
  & .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
  }
}
