.S9DivContainer{
    // background-color: rgb(189, 186, 26);
    height: 100vh;
}


// https://codepen.io/dazld/pen/npydRK


#containerS9 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }